/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', Serif;
	max-width: 1024px;
	margin: 0 auto;
	/* border-left: solid;
	border-right: solid; */
	padding: .25rem;
}

#grid-container {
	display: grid;
	gap: 20px;
	grid-template: auto / repeat(3, 1fr);
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: darkgreen;
	text-decoration: underline;
}

/* Header & Nav */

header {
	grid-area: 1 / 1 / 2 / 4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 500px;
	padding-bottom: .25rem;
	border-bottom: .1rem solid black;
}

header p {
	font-size: 1.75rem;
	font-weight: bold;
}

nav li {
	display: inline;
	padding-left: 2rem;
	font-size: 1rem;
}

@media only screen and (max-width: 425px) {
	nav {
		display: none;
	}

	header p {
		align-text: center;
	}
}

/* About Me Section */

#about-me {
	grid-area: 2 / 1 / 3 / 3;
	border-bottom: .1rem solid black;
}

#about-me-image {
	grid-area: 2 / 3 / 3 / 4;
	max-width: 250px;
	justify-self: center;
}

@media only screen and (max-width: 425px) {
	#about-me {
		grid-area: 2 / 1 / 3 / 4;
	}

	#about-me-image {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	#about-me {
		grid-area: 2 / 1 / 3 / 4;
	}

	#about-me-image {
		display: none;
	}

	#about-me p {
		padding-right: .5rem;
	}
}

/* Projects */

#projects {
	grid-area: 3 / 1 / 4 / 4;
	border-bottom: .1rem solid black;
}

#projects h2 {
	padding-bottom: 1rem;
}

#projects p {
	padding-bottom: 1rem;
}

#flex-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 500;
}

#flex-container figure {
	padding: 1rem 1rem 0 0;
}

#flex-container img {
	width: 30rem;
	height: 20rem;
	border: .1rem solid black;
}

#flex-container figcaption {
	padding: .25rem 0 2rem 0;
}

@media only screen and (max-width: 768px) {
	#flex-container img {
		width: 22rem;
		height: 15rem;
		border: .1rem solid black;
	}
}


/* Skills */

#skills {
	grid-area: 4 / 1 / 5 / 4;
	padding-bottom: 3rem;
}

#img-container {
	display: flex;
	padding-bottom: 1rem;
	justify-content: space-around;
}

#skills img {
	padding: 2rem 1rem 1rem 0;
	max-width: 100px;
	height: auto;
	transition: all 1s;
} 

#skills img:hover {
	transform: scale(1) rotate(360deg);
}