/* Global Styles */

* {
	margin: 0;
	padding: 0;
	color: #4d3e33;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	background-color: #db6d18;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: .5;
}

/* Nav & Header */

header {
	height: 3rem;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	display: flex;
	width: 100%;
	border-bottom: .2rem solid #4d3e33;
	z-index: 10;
	background-color: #db6d18;
}

header h1 {
	padding-left: 1rem;
	flex-shrink: 0;
}

#nav-container {
	display: flex;
	list-style-type: none;
	padding-right: 1rem;
}

#nav-container li {
	padding: 0 1rem;
	font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
	header {
		height: 2rem;
	}

	header h1 {
		font-size: 1.5rem;
	}

	#nav-container li {
	padding: 0 .5rem;
	font-size: 1rem;
	}	

	li span {
		display: none;
	}
}

/* Logo & Strapline */

#background {
	position: relative;
	top: 3rem;
	width: 100%;
  	background-image: url('../images/cover.jpg');
  	height: 30rem;
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	border-bottom: .2rem solid #4d3e33;
}

#background h1, #background h2 {
	color: white;
	text-shadow: .1rem .2rem #4d3e33;

}

#background h1 {
	font-size: 5rem;
	font-weight: bold;
	padding: 2rem;
}

@media only screen and (max-width: 768px) {
	#background {
		top: 2rem;
		height: 20rem;
	}

	#background h1 {
		flex-wrap: wrap;
		font-size: 3.5rem;
		padding: 1rem;
	}

	#background h2 {
		font-size: 1rem;
	}
}

/* About Us */

#about-us {
	text-align: center;
	position: relative;
	top: 5rem;
	padding-bottom: 3rem;
	border-bottom: .2rem solid #4d3e33;
}

#about-us h1 {
	font-size: 4rem;
	padding: 1rem;
}

#about-us-container {
	display: inline-flex;
	justify-content: center;
  	align-items: start;
  	text-align: justify;
  	text-align-last: center;
  	flex-wrap: wrap;
}

#about-us-container p {
	margin: 1rem 2rem;
	max-width: 20rem;
	min-width: 10rem;
	line-height: 1.3;
}

@media only screen and (max-width: 768px) {
	#about-us h1 {
	font-size: 3rem;
	}
}

/* Products */

#products {
	position: relative;
	top: 5rem;
	text-align: center;
	padding-bottom: 3rem;
	border-bottom: .2rem solid #4d3e33;
	background-color: #4d3e33;
}

#products h1 {
	font-size: 4rem;
	padding: 3rem;
	color: #db6d18;
}

#products-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#products img {
	height: 15rem;
	width: 20rem;
	object-fit: cover;
	padding: 0 1rem 1rem 1rem;
}

#products img:hover {
	opacity: .8;
	cursor: pointer;
}

#products figcaption {
	color: #db6d18;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
	#products h1 {
	font-size: 3rem;
	}

	#products img {
	height: auto;
	width: 100%;
	padding: 0;
	}

	#products figcaption {
	padding: 1rem;
}
}

/* People */

#people {
	position: relative;
	top: 5rem;
	text-align: center;
	padding-bottom: .2rem solid #4d3e33;
	margin-bottom: 3rem;
}

#people h1 {
	font-size: 4rem;
	padding: 3rem;
}

#people-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#people img {
	height: 20rem;
	width: 15rem;
	object-fit: cover;
	padding: 0 1rem 1rem 1rem;
}

#people img:hover {
	opacity: .8;
	cursor: pointer;
}

#people h3 {
	padding-bottom: 1rem;
}

#people figcaption {
	color: #db6d18;
	font-size: 1.5rem;
	padding-bottom: 1rem;
	width: 15rem;
	margin: 0 auto;
}

#people p {
	font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
	#people h1 {
	font-size: 3rem;
	}

	#people img {
	height: auto;
	width: 100%;
	padding: 0;
	}

	#people figcaption {
	padding: 1rem;
	}
}

/* Footer */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.5rem;
	position: relative;
	top: 4rem;
	background-color: #4d3e33;
}

footer p {
  font-size: .8rem;
  opacity: 0.5;
  color: #db6d18;
}